/* Regla general de orden en CSS

Siempre primero cómo se comporta la caja (display, flex)

Después qué tamaño tiene y cómo se separa internamente (width, height, padding, margin)

Luego bordes y bordes redondeados

Luego color y fondo

Por último, contenido y tipografía

Otros efectos: hover, transitions, etc. */


body {
    display: flex;
    justify-content: center; /* Eje horizontal */
    align-items: center;     /* Eje vertical */
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

#app {
    display: flex;

    height: 80vh;
    width: 90vw;

    padding: 0.5rem;
}

nav {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    flex: 1;

    height: auto; /* solo reordenado, no modificado */
    width: auto;

    padding: 0.5rem;

    border: 4px solid #777;
    border-right: none;
    border-radius: 10px 0 0 10px; /* solo las esquinas izquierdas */

    background-color: #111;
}

main {
    flex: 4;

    height: auto;
    width: auto;

    border: 4px solid #777;
    border-radius: 0 10px 10px 0; /* solo las esquinas derechas */    
    background-color: #222;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

nav ul li {
    text-align: center;
    margin: 1rem 0;
    border: 1px solid #777;
    /* border-radius: 8px; */
}

nav ul li a, 
nav ul li a:hover, 
nav ul li a:visited {
    display: block;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
}
